## Curatarea tabelului Levels_Formation_Team4 si legarea tuturor tabelelor intr-un singur tabel final

In [2]:
import pandas as pd 
import numpy as np
import json
import os

In [21]:
#Incarcarea csv preluat din Azure SQL

levels_formation = pd.read_csv("Levels_Formation_Team4.csv")

In [22]:
# Verific informatiile despre setul de date

levels_formation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  50000 non-null  int64
 1   idSchool            50000 non-null  int64
 2   sfName              50000 non-null  object
 3   sfLevel             50000 non-null  object
 4   studyFormationType  50000 non-null  object
 5   educationType       50000 non-null  object
 6   fundingForm         50000 non-null  object
 7   educationForm       50000 non-null  object
 8   teachingMode        50000 non-null  object
 9   teachingLanguage    50000 non-null  object
 10  techingType         50000 non-null  object
 11  studentsNo          50000 non-null  int64
dtypes: int64(3), object(9)
memory usage: 4.6+ MB

##### In urma rularii, observ ca numarul de valori non-null este egal, deci sansele de a avea valori null sunt inexistente.

In [23]:
# Verificarea valorilor duplicat

levels_formation.duplicated().sum()

0

In [24]:
# Verificarea valorilor lipsa din intregul set de date
levels_formation.isnull().sum()

id                    0
idSchool              0
sfName                0
sfLevel               0
studyFormationType    0
educationType         0
fundingForm           0
educationForm         0
teachingMode          0
teachingLanguage      0
techingType           0
studentsNo            0
dtype: int64

In [25]:
levels_formation.head(3)

,id,idSchool,sfName,sfLevel,studyFormationType,educationType,fundingForm,educationForm,teachingMode,teachingLanguage,techingType,studentsNo
0,930621,11269910,B Îngerașii,Preșcolar,Grupa mică,Masă,Sponsorizare,Normal,Tradițional,Limba română,Normal,0
1,930620,11269910,A Ursuletii,Preșcolar,Grupa mică,Masă,Sponsorizare,Normal,Tradițional,Limba română,Normal,0
2,930623,11269910,A,Preșcolar,Grupa mare,Masă,Sponsorizare,Normal,Tradițional,Limba română,Normal,0

In [27]:
# Eliminarea coloanelor nefolositoare
levels_formation.drop(columns = ['sfName', 'studyFormationType', 'educationType', 'fundingForm', "educationForm", 
                                 'teachingMode', 'techingType', 'studentsNo'], inplace = True)

In [28]:
levels_formation.head(3)

       id  idSchool    sfLevel teachingLanguage
0  930621  11269910  Preșcolar     Limba română
1  930620  11269910  Preșcolar     Limba română
2  930623  11269910  Preșcolar     Limba română

In [29]:
levels_formation['sfLevel']

0        Preșcolar
1        Preșcolar
2        Preșcolar
3        Preșcolar
4        Gimnazial
           ...
49995       Primar
49996    Gimnazial
49997       Liceal
49998       Primar
49999       Primar
Name: sfLevel, Length: 50000, dtype: object

In [30]:
filtered = levels_formation[levels_formation["sfLevel"] == 'Liceal']

In [31]:
filtered.head(3)

        id  idSchool sfLevel teachingLanguage
46  834131  11274703  Liceal     Limba română
48  834137  11274703  Liceal     Limba română
50  834132  11274703  Liceal     Limba română

In [32]:
# Salvez filtrarea facuta intr-un csv nou 

filtered.to_csv("Levels_Filtred.csv", index = False)

In [33]:

LF_clean = pd.read_csv("Levels_Filtred.csv")

In [34]:
LF_clean.head(3)

       id  idSchool sfLevel teachingLanguage
0  834131  11274703  Liceal     Limba română
1  834137  11274703  Liceal     Limba română
2  834132  11274703  Liceal     Limba română

In [35]:
# Elimin coloana "id"
LF_clean.drop(columns = ["id"], inplace=True)

In [36]:
# Redenumesc coloanele ramase

LF_clean.rename(columns = {"sfLevel":"Nivel", "teachingLanguage":"Limba_de_predare"}, inplace=True)

In [37]:
LF_clean.head(3)

   idSchool   Nivel Limba_de_predare
0  11274703  Liceal     Limba română
1  11274703  Liceal     Limba română
2  11274703  Liceal     Limba română

In [38]:
# Salvez tabelul pentru agregarea finala
LF_clean.to_csv("Levels_Formation_Clean_Team4.csv", index = False)

## Merge la School_Details & Levels_Formation

In [60]:
# Incarcare csv-uri
LF = pd.read_csv("Levels_Formation_Clean_Team4.csv")
school_details = pd.read_csv("data.csv")

In [61]:
# Cu merge
all_details = pd.merge(LF, school_details, on = "idSchool", how = "inner")

In [62]:
all_details

,idSchool,Nivel,Limba_de_predare,Judet,Numar_elevi,Numar_personal_liceu
0,11274703,Liceal,Limba română,Municipiul Bucuresti,0,0
1,11274703,Liceal,Limba română,Municipiul Bucuresti,0,0
2,11274703,Liceal,Limba română,Municipiul Bucuresti,0,0
3,11274703,Liceal,Limba română,Municipiul Bucuresti,0,0
4,11274703,Liceal,Limba română,Municipiul Bucuresti,0,0
...,...,...,...,...,...,...
11785,11269997,Liceal,Limba română,Arad,1519,113
11786,11269997,Liceal,Limba română,Arad,1519,113
11787,11269997,Liceal,Limba română,Arad,1519,113
11788,11269997,Liceal,Limba română,Arad,1519,113
11789,11269997,Liceal,Limba română,Arad,1519,113

In [63]:
all_details["Limba_de_predare"].unique()

array(['Limba română', 'Limba maghiară', 'Limba polonă', 'Limba germană',
       'Limba ucraineană'], dtype=object)

In [64]:
# Am calculat numarul total de scoli din fiecare judet

total_schools_count = all_details.groupby('Judet')['idSchool'].count().reset_index()
total_schools_count.columns = ['Judet', "Numar_total_scoli"]

In [65]:
# Am impartit coloana "Limba_de_predare" in coloane separate pentru fiecare limba de predare in parte
all_details = pd.get_dummies(all_details, columns = ['Limba_de_predare'], prefix = ' ')

In [66]:
#Reordonez totul in functie de 'Judet' si folosesc functia sum() pentru a calcula numarul de scoli care au o anumita limba de predare 

all_details_grouped = all_details.groupby("Judet").sum().reset_index()

In [67]:
#Dupa ce setul de date este reordonat in functie de 'Judet', si, avand in vedere ca in coloana "Nivel" valorile din randuri 
#se repetau, am folosit o functie pentru a selecta doar prima "valoare" identificata in acea repetare, in cazul de fata "Liceu"

nivel = all_details.groupby('Judet')['Nivel'].agg(lambda x: x.iloc[0]).reset_index()

In [68]:
#Aduc totul impreuna intr-un singur df
result = pd.merge(total_schools_count, all_details_grouped, on = 'Judet')

In [69]:
final = pd.merge(result, nivel, on = 'Judet')

In [70]:
final

,Judet,Numar_total_scoli,idSchool,Nivel_x,Numar_elevi,Numar_personal_liceu,_Limba germană,_Limba maghiară,_Limba polonă,_Limba română,_Limba ucraineană,Nivel_y
0,Alba,260,2928528903,LicealLicealLicealLicealLicealLicealLicealLice...,174624,19392,3,13,0,244,0,Liceal
1,Arad,237,2670775081,LicealLicealLicealLicealLicealLicealLicealLice...,233291,22256,0,16,0,221,0,Liceal
2,Arges,391,4405187172,LicealLicealLicealLicealLicealLicealLicealLice...,357947,32441,0,0,0,391,0,Liceal
3,Bacau,486,5478034286,LicealLicealLicealLicealLicealLicealLicealLice...,511241,51943,0,0,0,486,0,Liceal
4,Bihor,392,4418765824,LicealLicealLicealLicealLicealLicealLicealLice...,423473,40833,0,34,0,358,0,Liceal
5,Bistrita-Nasaud,214,2411576721,LicealLicealLicealLicealLicealLicealLicealLice...,218840,23551,4,8,0,202,0,Liceal
6,Botosani,277,3118910701,LicealLicealLicealLicealLicealLicealLicealLice...,248708,26120,0,0,0,277,0,Liceal
7,Braila,142,1599802437,LicealLicealLicealLicealLicealLicealLicealLice...,128063,13412,0,0,0,142,0,Liceal
8,Brasov,413,4654772708,LicealLicealLicealLicealLicealLicealLicealLice...,365671,33612,8,20,0,385,0,Liceal
9,Buzau,225,2532838800,LicealLicealLicealLicealLicealLicealLicealLice...,243384,23365,0,0,0,225,0,Liceal
10,Calarasi,122,1374962184,LicealLicealLicealLicealLicealLicealLicealLice...,101186,9392,0,0,0,122,0,Liceal
11,Caras-Severin,179,2017859779,LicealLicealLicealLicealLicealLicealLicealLice...,135183,14259,4,0,0,175,0,Liceal
12,Cluj,339,3819501961,LicealLicealLicealLicealLicealLicealLicealLice...,252522,29259,8,14,0,317,0,Liceal
13,Constanta,271,3051319351,LicealLicealLicealLicealLicealLicealLicealLice...,238738,25321,0,0,0,271,0,Liceal
14,Covasna,79,889204281,LicealLicealLicealLicealLicealLicealLicealLice...,76638,10454,0,39,0,40,0,Liceal
15,Dambovita,224,2522878037,LicealLicealLicealLicealLicealLicealLicealLice...,198571,19845,0,0,0,224,0,Liceal
16,Dolj,409,4611497435,LicealLicealLicealLicealLicealLicealLicealLice...,508717,48918,0,0,0,409,0,Liceal
17,Galati,280,3155256303,LicealLicealLicealLicealLicealLicealLicealLice...,248230,24254,0,0,0,280,0,Liceal
18,Giurgiu,48,540613224,LicealLicealLicealLicealLicealLicealLicealLice...,44196,3908,0,0,0,48,0,Liceal
19,Gorj,362,4077243523,LicealLicealLicealLicealLicealLicealLicealLice...,279063,27821,0,0,0,362,0,Liceal
20,Harghita,153,1724510614,LicealLicealLicealLicealLicealLicealLicealLice...,86950,12377,0,104,0,49,0,Liceal
21,Hunedoara,202,2275307652,LicealLicealLicealLicealLicealLicealLicealLice...,220085,25283,4,0,0,198,0,Liceal
22,Ialomita,76,856428128,LicealLicealLicealLicealLicealLicealLicealLice...,82112,7660,0,0,0,76,0,Liceal
23,Iasi,444,4999505760,LicealLicealLicealLicealLicealLicealLicealLice...,473074,51673,0,0,0,444,0,Liceal
24,Ilfov,28,315342108,LicealLicealLicealLicealLicealLicealLicealLice...,12860,1132,8,0,0,20,0,Liceal
25,Maramures,365,4114781763,LicealLicealLicealLicealLicealLicealLicealLice...,286537,31451,0,0,0,365,0,Liceal
26,Mehedinti,145,1633573952,LicealLicealLicealLicealLicealLicealLicealLice...,140278,15203,0,0,0,145,0,Liceal
27,Municipiul Bucuresti,1530,17229868788,LicealLicealLicealLicealLicealLicealLicealLice...,1550874,140339,16,0,0,1514,0,Liceal
28,Mures,168,1892643299,LicealLicealLicealLicealLicealLicealLicealLice...,127217,14540,3,32,0,133,0,Liceal
29,Neamt,463,5213802330,LicealLicealLicealLicealLicealLicealLicealLice...,465322,50733,0,0,0,463,0,Liceal
30,Olt,74,833367476,LicealLicealLicealLicealLicealLicealLicealLice...,97624,8970,0,0,0,74,0,Liceal
31,Prahova,403,4540551169,LicealLicealLicealLicealLicealLicealLicealLice...,453010,43181,0,0,0,403,0,Liceal
32,Salaj,127,1430655296,LicealLicealLicealLicealLicealLicealLicealLice...,94883,10537,0,16,0,111,0,Liceal
33,Satu Mare,156,1756678413,LicealLicealLicealLicealLicealLicealLicealLice...,121269,12887,0,38,0,118,0,Liceal
34,Sibiu,235,2647983208,LicealLicealLicealLicealLicealLicealLicealLice...,205875,20586,24,1,0,210,0,Liceal
35,Suceava,738,8308192827,LicealLicealLicealLicealLicealLicealLicealLice...,790597,78539,0,0,1,733,4,Liceal
36,Teleorman,105,1182781949,LicealLicealLicealLicealLicealLicealLicealLice...,69388,6558,0,0,0,105,0,Liceal
37,Timis,226,2544427729,LicealLicealLicealLicealLicealLicealLicealLice...,244291,25810,4,0,0,222,0,Liceal
38,Tulcea,78,878594340,LicealLicealLicealLicealLicealLicealLicealLice...,50465,5587,0,0,0,78,0,Liceal
39,Valcea,279,3145005428,LicealLicealLicealLicealLicealLicealLicealLice...,327476,33794,0,0,0,279,0,Liceal
40,Vaslui,133,1499403426,LicealLicealLicealLicealLicealLicealLicealLice...,104572,11288,0,0,0,133,0,Liceal
41,Vrancea,312,3516103686,LicealLicealLicealLicealLicealLicealLicealLice...,254737,25213,0,0,0,312,0,Liceal

In [71]:
#Elimin coloanele nefolositoare
final.drop(columns = ['idSchool', 'Nivel_x'], inplace=True)

In [72]:
final.columns

Index(['Judet', 'Numar_total_scoli', 'Numar_elevi', 'Numar_personal_liceu',
       ' _Limba germană', ' _Limba maghiară', ' _Limba polonă',
       ' _Limba română', ' _Limba ucraineană', 'Nivel_y'],
      dtype='object')

In [73]:
#Redenumesc coloanele
final.rename(columns = {' _Limba germană':"liceu_german", ' _Limba maghiară':'liceu_maghiar', ' _Limba polonă':'liceu_polonez', 
                        ' _Limba română': 'liceu_romanesc',' _Limba ucraineană':'liceu_ucrainean', 'Nivel_y':'Nivel' }, inplace=True)

In [74]:
final

,Judet,Numar_total_scoli,Numar_elevi,Numar_personal_liceu,liceu_german,liceu_maghiar,liceu_polonez,liceu_romanesc,liceu_ucrainean,Nivel
0,Alba,260,174624,19392,3,13,0,244,0,Liceal
1,Arad,237,233291,22256,0,16,0,221,0,Liceal
2,Arges,391,357947,32441,0,0,0,391,0,Liceal
3,Bacau,486,511241,51943,0,0,0,486,0,Liceal
4,Bihor,392,423473,40833,0,34,0,358,0,Liceal
5,Bistrita-Nasaud,214,218840,23551,4,8,0,202,0,Liceal
6,Botosani,277,248708,26120,0,0,0,277,0,Liceal
7,Braila,142,128063,13412,0,0,0,142,0,Liceal
8,Brasov,413,365671,33612,8,20,0,385,0,Liceal
9,Buzau,225,243384,23365,0,0,0,225,0,Liceal
10,Calarasi,122,101186,9392,0,0,0,122,0,Liceal
11,Caras-Severin,179,135183,14259,4,0,0,175,0,Liceal
12,Cluj,339,252522,29259,8,14,0,317,0,Liceal
13,Constanta,271,238738,25321,0,0,0,271,0,Liceal
14,Covasna,79,76638,10454,0,39,0,40,0,Liceal
15,Dambovita,224,198571,19845,0,0,0,224,0,Liceal
16,Dolj,409,508717,48918,0,0,0,409,0,Liceal
17,Galati,280,248230,24254,0,0,0,280,0,Liceal
18,Giurgiu,48,44196,3908,0,0,0,48,0,Liceal
19,Gorj,362,279063,27821,0,0,0,362,0,Liceal
20,Harghita,153,86950,12377,0,104,0,49,0,Liceal
21,Hunedoara,202,220085,25283,4,0,0,198,0,Liceal
22,Ialomita,76,82112,7660,0,0,0,76,0,Liceal
23,Iasi,444,473074,51673,0,0,0,444,0,Liceal
24,Ilfov,28,12860,1132,8,0,0,20,0,Liceal
25,Maramures,365,286537,31451,0,0,0,365,0,Liceal
26,Mehedinti,145,140278,15203,0,0,0,145,0,Liceal
27,Municipiul Bucuresti,1530,1550874,140339,16,0,0,1514,0,Liceal
28,Mures,168,127217,14540,3,32,0,133,0,Liceal
29,Neamt,463,465322,50733,0,0,0,463,0,Liceal
30,Olt,74,97624,8970,0,0,0,74,0,Liceal
31,Prahova,403,453010,43181,0,0,0,403,0,Liceal
32,Salaj,127,94883,10537,0,16,0,111,0,Liceal
33,Satu Mare,156,121269,12887,0,38,0,118,0,Liceal
34,Sibiu,235,205875,20586,24,1,0,210,0,Liceal
35,Suceava,738,790597,78539,0,0,1,733,4,Liceal
36,Teleorman,105,69388,6558,0,0,0,105,0,Liceal
37,Timis,226,244291,25810,4,0,0,222,0,Liceal
38,Tulcea,78,50465,5587,0,0,0,78,0,Liceal
39,Valcea,279,327476,33794,0,0,0,279,0,Liceal
40,Vaslui,133,104572,11288,0,0,0,133,0,Liceal
41,Vrancea,312,254737,25213,0,0,0,312,0,Liceal

## Merge final & Tempo_all_Team4

In [75]:
# Incarcarea csv-ului cu datele de pe Tempo
tempo = pd.read_csv("Tempo_all_Team4.csv")

In [76]:

tempo.sort_values(by = "Judet", ascending=True)

,Judet,Elevi_cu_BAC,Ateliere_scolare,Laboratoare,Echipamente,Terenuri_sport,Imigranti
6,Alba,1817,82,162,4882,37,215
38,Arad,2047,86,209,3759,51,315
24,Arges,3416,129,241,5320,40,162
12,Bacau,3165,100,206,6239,43,1250
0,Bihor,2915,108,253,6137,73,300
1,Bistrita-Nasaud,1553,47,104,3814,21,177
13,Botosani,2182,61,121,3415,30,4609
18,Braila,1388,81,104,2568,19,105
7,Brasov,2668,97,203,4005,40,634
19,Buzau,2046,37,140,3178,20,129
25,Calarasi,840,46,82,1902,18,125
39,Caras-Severin,1239,83,173,3087,26,227
2,Cluj,3653,112,368,14700,75,692
20,Constanta,3494,98,291,5665,70,480
8,Covasna,847,93,70,1842,16,66
26,Dambovita,2187,65,168,3432,36,174
33,Dolj,2975,117,315,5425,64,316
21,Galati,2827,90,202,3504,43,6929
27,Giurgiu,743,17,55,1404,11,115
34,Gorj,1883,73,177,4150,40,85
9,Harghita,1422,99,134,3795,27,93
40,Hunedoara,1828,74,160,4080,43,257
28,Ialomita,1049,49,99,2099,18,147
14,Iasi,4426,140,278,6310,59,10034
31,Ilfov,608,13,61,1971,22,695
3,Maramures,2449,67,135,6815,37,326
35,Mehedinti,1209,39,110,2530,20,100
32,Municipiul Bucuresti,12830,221,708,48471,121,10786
10,Mures,2485,73,145,9111,26,256
15,Neamt,2605,84,201,4136,48,1183
36,Olt,1774,56,128,2468,30,146
29,Prahova,3984,134,244,6136,46,262
5,Salaj,1171,51,134,2122,17,66
4,Satu Mare,1460,74,139,3722,39,205
11,Sibiu,1948,111,156,3159,25,372
16,Suceava,3934,84,248,8244,44,1171
30,Teleorman,1197,35,82,2605,19,217
41,Timis,2890,104,258,4976,55,802
22,Tulcea,829,30,131,1902,18,101
37,Valcea,1926,48,142,2040,19,105
17,Vaslui,1872,63,131,3076,21,10199
23,Vrancea,1555,40,115,2114,16,211

In [77]:
tempo['Judet'].unique()

array([' Bihor', ' Bistrita-Nasaud', ' Cluj', ' Maramures', ' Satu Mare',
       ' Salaj', ' Alba', ' Brasov', ' Covasna', ' Harghita', ' Mures',
       ' Sibiu', ' Bacau', ' Botosani', ' Iasi', ' Neamt', ' Suceava',
       ' Vaslui', ' Braila', ' Buzau', ' Constanta', ' Galati', ' Tulcea',
       ' Vrancea', ' Arges', ' Calarasi', ' Dambovita', ' Giurgiu',
       ' Ialomita', ' Prahova', ' Teleorman', ' Ilfov',
       ' Municipiul Bucuresti', ' Dolj', ' Gorj', ' Mehedinti', ' Olt',
       ' Valcea', ' Arad', ' Caras-Severin', ' Hunedoara', ' Timis'],
      dtype=object)

In [78]:
final['Judet'].unique()

array(['Alba', 'Arad', 'Arges', 'Bacau', 'Bihor', 'Bistrita-Nasaud',
       'Botosani', 'Braila', 'Brasov', 'Buzau', 'Calarasi',
       'Caras-Severin', 'Cluj', 'Constanta', 'Covasna', 'Dambovita',
       'Dolj', 'Galati', 'Giurgiu', 'Gorj', 'Harghita', 'Hunedoara',
       'Ialomita', 'Iasi', 'Ilfov', 'Maramures', 'Mehedinti',
       'Municipiul Bucuresti', 'Mures', 'Neamt', 'Olt', 'Prahova',
       'Salaj', 'Satu Mare', 'Sibiu', 'Suceava', 'Teleorman', 'Timis',
       'Tulcea', 'Valcea', 'Vaslui', 'Vrancea'], dtype=object)

In [79]:
#Observ ca valorile din coloana 'Judet' din df tempo au spatii in fata, asadar trebuie sa le elimin

tempo['Judet'] = tempo['Judet'].str.strip()

In [80]:
#Verific valorile din nou

tempo['Judet'].unique()

array(['Bihor', 'Bistrita-Nasaud', 'Cluj', 'Maramures', 'Satu Mare',
       'Salaj', 'Alba', 'Brasov', 'Covasna', 'Harghita', 'Mures', 'Sibiu',
       'Bacau', 'Botosani', 'Iasi', 'Neamt', 'Suceava', 'Vaslui',
       'Braila', 'Buzau', 'Constanta', 'Galati', 'Tulcea', 'Vrancea',
       'Arges', 'Calarasi', 'Dambovita', 'Giurgiu', 'Ialomita', 'Prahova',
       'Teleorman', 'Ilfov', 'Municipiul Bucuresti', 'Dolj', 'Gorj',
       'Mehedinti', 'Olt', 'Valcea', 'Arad', 'Caras-Severin', 'Hunedoara',
       'Timis'], dtype=object)

In [98]:
# Merge-ul final

Date_Finale_Team4 = pd.merge(final, tempo, on = 'Judet', how='inner')

In [99]:
Date_Finale_Team4

,Judet,Numar_total_scoli,Numar_elevi,Numar_personal_liceu,liceu_german,liceu_maghiar,liceu_polonez,liceu_romanesc,liceu_ucrainean,Nivel,Elevi_cu_BAC,Ateliere_scolare,Laboratoare,Echipamente,Terenuri_sport,Imigranti
0,Alba,260,174624,19392,3,13,0,244,0,Liceal,1817,82,162,4882,37,215
1,Arad,237,233291,22256,0,16,0,221,0,Liceal,2047,86,209,3759,51,315
2,Arges,391,357947,32441,0,0,0,391,0,Liceal,3416,129,241,5320,40,162
3,Bacau,486,511241,51943,0,0,0,486,0,Liceal,3165,100,206,6239,43,1250
4,Bihor,392,423473,40833,0,34,0,358,0,Liceal,2915,108,253,6137,73,300
5,Bistrita-Nasaud,214,218840,23551,4,8,0,202,0,Liceal,1553,47,104,3814,21,177
6,Botosani,277,248708,26120,0,0,0,277,0,Liceal,2182,61,121,3415,30,4609
7,Braila,142,128063,13412,0,0,0,142,0,Liceal,1388,81,104,2568,19,105
8,Brasov,413,365671,33612,8,20,0,385,0,Liceal,2668,97,203,4005,40,634
9,Buzau,225,243384,23365,0,0,0,225,0,Liceal,2046,37,140,3178,20,129
10,Calarasi,122,101186,9392,0,0,0,122,0,Liceal,840,46,82,1902,18,125
11,Caras-Severin,179,135183,14259,4,0,0,175,0,Liceal,1239,83,173,3087,26,227
12,Cluj,339,252522,29259,8,14,0,317,0,Liceal,3653,112,368,14700,75,692
13,Constanta,271,238738,25321,0,0,0,271,0,Liceal,3494,98,291,5665,70,480
14,Covasna,79,76638,10454,0,39,0,40,0,Liceal,847,93,70,1842,16,66
15,Dambovita,224,198571,19845,0,0,0,224,0,Liceal,2187,65,168,3432,36,174
16,Dolj,409,508717,48918,0,0,0,409,0,Liceal,2975,117,315,5425,64,316
17,Galati,280,248230,24254,0,0,0,280,0,Liceal,2827,90,202,3504,43,6929
18,Giurgiu,48,44196,3908,0,0,0,48,0,Liceal,743,17,55,1404,11,115
19,Gorj,362,279063,27821,0,0,0,362,0,Liceal,1883,73,177,4150,40,85
20,Harghita,153,86950,12377,0,104,0,49,0,Liceal,1422,99,134,3795,27,93
21,Hunedoara,202,220085,25283,4,0,0,198,0,Liceal,1828,74,160,4080,43,257
22,Ialomita,76,82112,7660,0,0,0,76,0,Liceal,1049,49,99,2099,18,147
23,Iasi,444,473074,51673,0,0,0,444,0,Liceal,4426,140,278,6310,59,10034
24,Ilfov,28,12860,1132,8,0,0,20,0,Liceal,608,13,61,1971,22,695
25,Maramures,365,286537,31451,0,0,0,365,0,Liceal,2449,67,135,6815,37,326
26,Mehedinti,145,140278,15203,0,0,0,145,0,Liceal,1209,39,110,2530,20,100
27,Municipiul Bucuresti,1530,1550874,140339,16,0,0,1514,0,Liceal,12830,221,708,48471,121,10786
28,Mures,168,127217,14540,3,32,0,133,0,Liceal,2485,73,145,9111,26,256
29,Neamt,463,465322,50733,0,0,0,463,0,Liceal,2605,84,201,4136,48,1183
30,Olt,74,97624,8970,0,0,0,74,0,Liceal,1774,56,128,2468,30,146
31,Prahova,403,453010,43181,0,0,0,403,0,Liceal,3984,134,244,6136,46,262
32,Salaj,127,94883,10537,0,16,0,111,0,Liceal,1171,51,134,2122,17,66
33,Satu Mare,156,121269,12887,0,38,0,118,0,Liceal,1460,74,139,3722,39,205
34,Sibiu,235,205875,20586,24,1,0,210,0,Liceal,1948,111,156,3159,25,372
35,Suceava,738,790597,78539,0,0,1,733,4,Liceal,3934,84,248,8244,44,1171
36,Teleorman,105,69388,6558,0,0,0,105,0,Liceal,1197,35,82,2605,19,217
37,Timis,226,244291,25810,4,0,0,222,0,Liceal,2890,104,258,4976,55,802
38,Tulcea,78,50465,5587,0,0,0,78,0,Liceal,829,30,131,1902,18,101
39,Valcea,279,327476,33794,0,0,0,279,0,Liceal,1926,48,142,2040,19,105
40,Vaslui,133,104572,11288,0,0,0,133,0,Liceal,1872,63,131,3076,21,10199
41,Vrancea,312,254737,25213,0,0,0,312,0,Liceal,1555,40,115,2114,16,211

In [102]:
Date_Finale_Team4 .to_csv("Date_Finale_Team4.csv", index = False)

In [103]:
school_details['idSchool'].count() #numarul total de unitati de invatamant din tara

18915

In [104]:
Date_Finale_Team4 ['Numar_total_scoli'].sum() #numarul total de licee din tara

11790

## Incarcarea tabelului final in Azure

### Connection details

In [90]:
import pyodbc
import sqlalchemy as db  
import urllib

exec(open('Azure_Credentials.py').read())

In [92]:
database_name = "AID2023"
driver = '{ODBC Driver 18 for SQL Server}'
server_name = "aid-2023-srv.database.windows.net"

In [93]:
# Create the server url
server = 'tcp:{server_name},1433'.format(server_name = server_name)

#create the full connection string <- make sure to write it as it is bellow - check your credentials to be the right ones

connection_string = 'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};charset=utf8'.format(
    driver = driver,
    server=server,
    database=database_name,
    username=username,
    password=password
)                              

cnxn: pyodbc.Connection = pyodbc.connect(connection_string)
cursor: pyodbc.Cursor = cnxn.cursor() 

#execute a query with the cursor to check if the connection is maade
print("Connection is open") if cursor.execute("SELECT 1") else print(f"Connection is closed: {e}")

Connection is open

In [94]:
#obtain the parameters from the pyodbc connection string
params = urllib.parse.quote_plus(connection_string)
#create the engine
sqlalchemy_engine = db.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

In [105]:
# inserarea datelor intr-un tabel sql
Date_Finale_Team4.to_sql("Date_Finale_Team4", sqlalchemy_engine, if_exists='replace', index=False)

42